.nav-dropdown {
        background: none;
    border: 0px;
    color: rgba(255,255,255,.5);
    /* background-color: white; */
    width: 99px;
    option {
        background: #343a40!important;
    }
}