.padding-20 {
    padding-top: 60px;
}
.btn:focus {
    box-shadow: none !important;
}

.align {
    border: 1px solid;
    /* margin: auto; */
    /* margin-bottom: 20px; */
    /* position: absolute; */
    /* top: 20%; */
    left: 10%;
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 20px;
    /* transform: translate(-50%, -50%); */
    color: #BCC0DC;
}